@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
}
.banner-button-custom{
    text-decoration: none;
    border: 0px solid;
    background: white;
    padding: 10px 40px;
    border-radius: 5px;
    color:#3F87F5;
    font-weight: 700;
    font-size: 16px;
}
.topsell-card-bg-color{
 background-color: #3F87F5;
 border-radius: 40px;
 color: white;
 
}
.topsell-card-btn-color{
    text-decoration: none;
    border: 0px solid;
    background: white;  
    color:#3F87F5;
    border-radius: 20px;
   padding: 13px 62px;
   font-weight: 700;
   font-size: 15px;
}

.fas-custom{
    color: #5243c279;
    ;
}
.package-btn-custom{
   text-decoration: none;
   border: 0px solid;
   background-color: #f496d227;
   color:#3F87F5 ;
   border-radius: 20px
   ;
   padding: 13px 62px;
   font-weight: 700;
   font-size: 15px;
}
.footer-bg-colour{
    background-color: #0B0D17;
 margin-top: 100px;
}
.copy-right-text{
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
}
.feedback-area-custom{
    background-color:#3F87F5 ;
    border-radius: 20px;
}
.feedback-btn-custom{
    background-color: rgba(0, 0, 255, 0.397);
    border:0px solid;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
}